<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.giftfunding.osds">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.giftfunding.osds.application.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Osds"
        tools:targetApi="n">

        <activity
            android:name="com.giftfunding.osds.ui.bridge.BridgeActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data android:host="oauth"
                    android:scheme="@string/kakao_native_app_key" />
            </intent-filter>
        </activity>

        <activity android:name="com.giftfunding.osds.ui.main.MainActivity" />
        <activity android:name="com.giftfunding.osds.ui.login.LoginActivity"
            android:exported="true">

        </activity>
        <activity android:name="com.giftfunding.osds.ui.home.HomeActivity" />
        <activity android:name="com.giftfunding.osds.ui.search.SearchActivity" />
        <activity android:name="com.giftfunding.osds.ui.address.AddressActivity" />
        <activity
            android:name="com.giftfunding.osds.ui.address.AddressSearchActivity"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.giftfunding.osds.ui.address.AddressDetailActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name="com.giftfunding.osds.ui.home.ranking.RankingActivity" />
        <activity android:name="com.giftfunding.osds.ui.merchandise.MerchandiseActivity" />
        <activity
            android:name="com.giftfunding.osds.ui.funding.FundingActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.giftfunding.osds.ui.funding.FundingCompleteActivity" />
        <activity
            android:name="com.facebook.flipper.android.diagnostics.FlipperDiagnosticActivity"
            android:exported="true" />
        <activity android:name="com.giftfunding.osds.ui.anniversary.AnniversarySelectActivity" />
        <activity android:name="com.giftfunding.osds.ui.funding.FundingGiftListActivity"/>
        <activity android:name="com.giftfunding.osds.ui.funding.FundingMyListInfoActivity"/>
        <activity android:name="com.giftfunding.osds.ui.funding.FundingResultActivity"/>
        <activity android:name="com.giftfunding.osds.ui.keyhash.KeyHashActivity"/>
    </application>

</manifest>